ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f5f5f5;
}

li {
  float: right;
}

.navbar-logo {
  position: relative;
  background-color: #f5f5f5;
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
}

li a {
  font-size: small;
  display: block;
  flex-direction: column;
  color: #000;
  text-align: center;
  padding: 12px 12px;
  text-decoration: none;
}

.nav-menu.active {
  background: #0047ab;
  color: #fff;
  left: 0;
  opacity: 1;
  transition: all 0.5s ease;
  z-index: 1;
}

.nav-links {
  text-align: center;
  padding: 1rem;
  width: 100%;
  display: table;
}

.nav-links:hover {
  background-color: #01285f;
  border-bottom: #01285f;
  color: #fff;
  border-radius: 0;
}

.menu-icon {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-100%, 30%);
  font-size: 1.8rem;
  cursor: pointer;
}

.fa-times {
  color: #000;
  font-size: 2rem;
}
